* {
    box-sizing: border-box;
}

h3, h4, h5, h6 {
    text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
    background: rgb(92,219,149);
    background: linear-gradient(90deg, rgba(92,219,149,1) 13%, rgba(55,150,69,1) 54%, rgba(255,255,255,1) 100%);
    -webkit-background-clip: text; 
    background-clip: text; 
}

body {
    background-color: #5CDB95;
    font-family: 'Lora', serif;
    min-height: 100vh;
    display: flex;
}

h1 {
    color: transparent;
    font-family: 'Lora', serif;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
    background: rgb(92,219,149);
    background: linear-gradient(90deg, rgba(92,219,149,1) 13%, rgba(55,150,69,1) 54%, rgba(255,255,255,1) 100%);
    -webkit-background-clip: text; 
    background-clip: text;
}

h2 {
    color: transparent;
    font-family: 'Merriweather', serif;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
    background: rgb(92,219,149);
    background: linear-gradient(90deg, rgba(92,219,149,1) 13%, rgba(55,150,69,1) 54%, rgba(255,255,255,1) 100%);
    -webkit-background-clip: text; 
    background-clip: text;
}

a {
    color: #379683;
    text-decoration: none;
}

nav a {
    color: #05386B;
    padding-top: 1em;
    padding-bottom: 0.5em;
    margin-right: 1em;
    margin-left: 1em;
    display: block;
    border-top: 4px solid transparent;
}

nav a:hover {
    border-top: 4px solid rgb(0,0,0);
}

nav {
    margin-left: 2em;
    margin-right: 2em;
    border-bottom: 1px dotted rgba(0,0,0,0.3);
    margin-top: -4px;
    overflow: auto;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav li{
}

.byline {
    color: rgba(5,56,107,0.5);
    font-size: 70%
}

#page-copyright {
    color: #05386B;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.haiku em {
    color: #379683;
}

.bio p {
    text-indent: 3em;
    
}

.bio {
    grid-column-end: span 2;
}

footer {
    text-align: center;
    font-size: 12px;
    margin-bottom: 2em;
    margin-top: auto;
}

footer hr {
    width: 50vw;
    min-width: 300px;
    margin-top: 3em;
    margin-bottom: 2em;
    border-top: 3px solid #000000;
    border-bottom: 8px dotted #000000;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-right: 0;
    border-left: 0;
}

ul {
    list-style-type: upper-alpha;
}

.width-wrap {
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
    width:80%; 
    padding-left: 2em;
    padding-right: 2em;
    margin-bottom: 3em;
    border-left: 1px solid rgba(0, 0, 0, 0.3);
    border-right: 1px solid rgba(0, 0, 0, 0.3);
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);  
    background-color: #379645;
    box-shadow:0px 0px 4px rgba(0,0,0,0.2);
    display: flex;
    flex-direction: column;
}

figure{
    box-shadow: 2px 2px 3px rgba(0,0,0,0.5);
    float: right;
    position: relative;
    top: -1em;
}

.paperclip{
    background-image: url(../images/paperclip.png);
    width: 50px;
    height: 50px;
    background-size: contain;
    position: absolute;
    top: -10px;
    right: -7px;
}

.fav {
    clear: right;
}

header {
    border-top: 4px solid rgba(0, 0, 0, 0.1); ;
    margin-left: -2em;
    margin-right: -2em;
}

.back-to-top{
    text-align: right;
    margin-right: -0.5em;
    opacity: 0.5;
}

.back-to-top:hover{
    opacity: 1;
}

.back-to-top a {
    position: fixed;
    bottom: 3.5em;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2em;
}

.glossary {
    grid-column-end: span 2;
}

#useful-links {
    grid-column-end: span 2;
}

.gallery {
    display: grid;
    grid-column-end: span 2;
}

.gallery-thumbnails {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}

.gallery-thumbnails img{
    display: block;
    width: 100%;
}

.row-span-2{
    grid-row-end: span 2;
}

.col-span-2{
    grid-column-end: span 2;
}

img {
    max-width: 100%;
    height: auto;
}

@media screen and (max-width: 768px){
    footer hr{
        display: none;
    }
    
    .paperclip {
        display: none;
    }
    
    .mugshot {
        margin-left: none;
        margin-right: none;

    }

    main {
        display: block;
    }

    .row-span-2.col-span-2 {
        grid-column-end: span 1;
        grid-row-end: span 1;
    }

    nav ul {
        flex-direction: column;
        padding-top: 1em;
        padding-bottom: 1em;
        text-align: center;
    }

    nav a {
        border: none;
    }

    nav a:hover {
        border: none;
        text-decoration: underline;
    }

    .burger {
        width: 40px;
        height: 25px;
        margin-left: auto;
        margin-right: auto;
        border-top: 5px solid black;
        margin-top: 1em;
        cursor: pointer;
    }

    .burger::before, .burger::after {
        width: 40px;
        border-top: 5px solid black;
        content:"";
        display:block;
        position: absolute;
    }

    .burger::before {
        top: 5px;
    }

    .burger::after {
        top: 27px;
    }
    
    
}